.navbar{
    background-color: var(--cor4)!important;
}

.menunav{
    color: white;
    font-weight: bold !important;
    text-decoration: none !important;
    font-family: 'Montserrat', sans-serif !important;
}

.logonav{
    color: white;
    font-size: 29px !important;
    font-weight: bolder !important;
    font-family: 'Montserrat', sans-serif !important;
}