.navbar{
    width: 100vw;
    height: 70px;
    background-color: var(--cor5)!important;
    overflow-x: hidden;
}

.menunav{
    color: #F6F4EB;
}

.menunav:hover{
    color:#456747;
}

.menunav-nome {
    color: #F6F4EB;
}

.logonav{
    color: #F6F4EB;
}

.login{
    color: #F6F4EB;
}

.login:hover{
    color:#456747;
}

.carrinho{
    color: #F6F4EB;
    font-size: xx-large!important;
    transform: scaleX(-1);
}

.carrinho:hover{
    color:#456747;
}

