:root {
    /* Paleta de Cores */
    --cor1: #F6F4EB;
    --cor2: #F4F8D4;
    --cor3: #F3F368;
    --cor4: #88BB29;
    --cor5: #55A630;
    --cor6: #25812D;
    --cor7: #456747;
    --cor8: #283E30;

    --background: var(--cor1);
    --icone: var(--cor6);
    --fonte-escura: var(--cor8);
    --fonte-clara: var(--cor1);
    --fonte-titulo: var(--cor6);
}

#contato {
    width: 100%;
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10vh 20vw;

    background-color: var(--background);
}

.contato-titulo {
    font-size: 4rem;
    font-weight: 700;
    color: var(--fonte-titulo);
}

.contato-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 1.5rem;
    color: var(--fonte-escura);
}

.contato-cards {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
}

.contato-icon {
    color: var(--icone);
}

.contato-cards > img {
    width: 65%;
    border-radius: 50%;
}