:root {
    --cor1: #F6F4EB;
    --cor2: #F4F8D4;
    --cor3: #F3F368;
    --cor4: #88BB29;
    --cor5: #55A630;
    --cor6: #25812D;
    --cor7: #456747;
    --cor8: #283E30;
    --cor9: #213428;
}


