.swiper {
    width: 50vw;
    height: 60vh;
    margin-bottom: 75px !important;
  }
  
  .swiper-slide img {
    display: flex;
    justify-content: center;
    width: auto;
    height: 100%;
    object-fit: cover;
     object-position: 50% 20%; 
  }
  
  .swiper {
    margin-left: auto;
    margin-right: auto;
  }
  .mySwiper {
  
 
    background-color: transparent;
    
    }
    .mySwiper .swiper-pagination-bullet {
      background-color: #55A630; /* substitua #ff0000 pela cor desejada */
      margin-bottom: -0.85rem !important;
    }
    .mySwiper .swiper-button-next,
.mySwiper .swiper-button-prev {
  color: #55A630; 
}
.mySwiper .swiper-slide img {
  display: block;
  margin: 0 auto;
}
