:root {
    --cor1: #F6F4EB;
    --cor2: #F4F8D4;
    --cor3: #F3F368;
    --cor4: #88BB29;
    --cor5: #55A630;
    --cor6: #25812D;
    --cor7: #456747;
    --cor8: #283E30;
    --cor9: #213428;
}

.footer_conteudo {
    padding: 1.5rem 1rem;
    background-color: #283E30; 
    max-width: 100%;
    max-height: 100%;
    position: relative;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.text-redes {
    color: var(--cor1);
}

.footer_contacts {
    position: center;
    align-items: center;
    box-sizing: border-box;
    color: #F6F4EB;
    width: auto;
    height: auto;
}

.footer-redes {
    display: flex;
    justify-content: center;
    align-items: center;
}

.redes {
    font-size: 40px !important;
    color: var(--cor4);
}

.textofooter{
    text-align: justify;
    padding: 30px;
}

.footer_social_midia {
    gap: 20px;
    display:flex; 
    align-items: center !important;  
    justify-content: center !important;
}

/*  Quando passar o mouse, tem uma animação.   */
.footer_social_midia .redes:hover {
    opacity: 0.8;
    cursor: pointer;
}

.caixa_imputs_footer {
    display: flex;
    align-items: center;
    border-radius: 4px;
    background-color: #F6F4EB;
}

.footer-inscrevase {
    display: 'flex';
    flex-direction: 'column';
    justify-content: center ;
    align-items: 'center';
    color: var(--cor1);
}

.caixa_imputs_footer button {
    background-color: var(--cor5);
    border: none;
    padding: 0px 1.50rem;
    font-size: 0.9rem;
    height: 52px;
    width: 200px;
    cursor: pointer;
    transition: all 0.4s;
}

/*  Quando passar o mouse em cima do botão, gera uma animação.   */
.caixa_imputs_footer button:hover {
    opacity: 0.8;
}

/*.caixa_imputs_footer input {}*/

.direitos {
    display: flex;
    justify-content: center;
    font-size: 0.9rem;
    padding: 0.5rem;
    font-weight: 100;
    background-color: #213428;
}

.Slogan {
    display: inline;
}

.Slogan-texto{
    color: var(--cor1);
    font-size: smaller !important;
}

.lista_footer {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.lista_footer li {
    display: flex;
    align-items: flex-start;
    margin-bottom: 2px;
    /* Espaçamento vertical entre os ícones e o texto */
}

.lista_footer li svg {
    margin-right: 2px;
    /* Espaçamento horizontal entre o ícone e o texto */
}

.icones {
    font-size: 20px !important;
    color: var(--cor4);
}

.textoicones{
    color: var(--cor1);
}

.fraseicone{
    color: var(--cor1);
    flex-direction: column;
}