body{
  background-color: #F4F8D4;
}


.botaocompra{

    margin-top: 25%;
   height: 5%;

}

/*EASE IN PARA SUAVIZAR A ANIMAÇÃO E TRANSFORM PARA COLOCAR A DURAÇAO*/
.card {
    transition: transform 0.3s ease-in-out;
    
  }
  
  /*Quando passar o mouse ele vai subir 10 pixels negativo */
  .card:hover {
    transform: translateY(-10px);
  }
  