.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%!important;
}

.paper{
  display: flex;
  justify-content: flex-end;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

.botaocompra {
  background-color: #88BB29 !important;
}

.finbot{
  color: #283E30;
}

.titcarr {
  color: #283E30;
}

